/* page transition animation. But class "my-page-exit" added to wrong <div> ??? */

.my-page-enter {
    opacity: 0;
}

.my-page-enter-active {
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
}

.my-page-exit {
    opacity: 1;
    /*border: 5px solid red;*/
}

.my-page-exit-active {
    opacity: 0;
    /*border: 5px solid green;*/
    /*transform: scale(0.9);*/
    transition: opacity 500ms, transform 500ms;
}
